$font:#fff;
$pri:#e4381C;
$back:#151515;
*{
    transition: all 300ms  ease;

}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
            font-family:Oswald, sans-serif;
    font-size:16px;
    font-weight:400;
    ul{
        list-style-type: none;
    }
}
.nav{
    font-weight: bold;
    z-index: 5;
    width:100%;
    position: absolute;
    padding: 25px 50px;
    display:grid;
    color: $font;
    grid-template-columns: 1fr 3fr 1fr;
    
    .inf{
        ul{
        text-align: center;
        display: grid;
        list-style-type: none;
        justify-content: center;
        grid-template-columns: repeat(4,15%);
    }
    }
    .fad{
         ul{
        display: grid;
        list-style-type: none;
        grid-template-columns: repeat(4,1fr);
    }}

    
}
.item{
    font-family: Oswald, sans-serif;
    margin:0 !important;
    padding: 0 !important;
    position: relative;
    width: 100% !important;
    height: 100vh;
    background-repeat: no-repeat;}
    .it1{
        background-size: cover;
        background-image: url(../img/hero-slider/hero-1.jpg)!important;
    }
    .it2{
        background-size: cover;
        background-position-x: center;
        background-position:center ;
        background-image: url(../img/hero-slider/hero-2.jpg)!important;
    }
    .it3{
        background-size: cover;
        background-position-x: center;
        background-position:center ;
        background-image: url(../img/hero-slider/hero-3.jpg)!important;
    }
    .owl-prev,.owl-next,.owl-dots{
        display: none!important;
    }
.owl-carousel{
    .item{
        margin: 0!important;
    }
}
    .ith{
        color: $font;
        position: relative;
        top: 50%;
        left:050%;
        transform: translate(-50%,-50%);
        text-align: center;
        h2{
            font-weight: lighter;
            font-size:50px;
        }
        h1{
            margin: 20px;
            font-size: 5em;
            font-family:Oswald, sans-serif;
            font-size:90px;
            font-weight:600;
            line-height:108px;


        }
        button{
            border: 0;
            outline: 0;
            background-color: transparent;
            border: 2px $pri solid;
            color:$font;
            padding:10px 30px;
        }
    }
    
    .sec-header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        .types{
            position: relative;
            background-size: cover;
            height: 45vh;
           &:hover{ border-bottom: 2px solid $pri !important;
           }
           
        }
        .ty1{
            background-image:url(../img/feature/feature-1.jpg)

        }
        .ty2{
            background-image:url(../img/feature/feature-2.jpg)

        }
        .ty3{
            background-image: url(../img/feature/feature-3.jpg);

        }
        .clstext{
            font-size:0.8em;
            position: relative;
            top: 50%;
            left:50%;
            transform: translate(-50%,-50%);
            color: $font;
            h6{
                font-size:15px;
                font-weight:400;
                margin: 15px;
            }
            button{
                border: 0;
                outline: 0;
                background-color: transparent;
                border: 2px $pri solid;
                color:$font;
                padding:5px 10px;
            }
            button:hover{
                background: $pri;
            }
            
        }
    }
    .third{
padding: 80px 0;
background-color: $back;
color: $font;
display: flex;

.cont{
margin: auto;
width: 75%;
display: flex;

}.greetext{
    margin-right: 10px;
    padding-top:50px ;
    h2{
        margin-bottom:1.1em;
    }
    p{
        margin-bottom:1.2em;

        font-weight:lighter;
    }
    BUTTON{
        border: 0;
        outline: 0;
        background-image: linear-gradient(to right, #e4381C 100%, #e16521 100%);
        color:$font;
        padding:10px 25px;
        font-size: 0.8em;
    }
}

    }
    button{
        border-radius: 5px;
    }
    .smhead{
        color:$font;
        text-align: center;
        background-size:cover;
        padding:5vh 0 4vh;
        background-image: url(../img/classes-title-bg.jpg);
    }

    .othcls{
       
        BUTTON{
            border: 0;
            outline: 0;
            background-color: transparent;
            border: 2px $pri solid;
            color:$font;
            padding:5px 10px;
        }
        height:48vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .oth1{
            position:relative;

            background-image: url(../img/classes/class-1.jpg);
        }
        .oth2{
            position:relative;

            background-image: url(../img/classes/class-2.jpg);
        }
        .oth3{
            position:relative;

            background-image: url(../img/classes/class-3.jpg);
        }
        .oth4{
            position:relative;

            background-image: url(../img/classes/class-4.jpg);
        }
        .clstext{
            text-align: left;
            h5{
                font-size: 1.5em;
                margin-bottom: 15px;
            }
            h6{
                font-weight: lighter;
                font-size: 0.8em;
                margin-bottom: 15px;


            }
            color: $font;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-80%,-20%);

        }
    }
    @for $x from 1 to 5 {
        .oth#{$x}:hover{

            border-bottom: 4px solid $pri;
        }}
        button:hover{
            background-color: $pri;
        }
.table{
    background-color: black;
    color:$font;
    padding:100px 0;
    text-align:center;
    .links{
        display:flex;
        justify-content: center;
        div{
            font-weight:bold;
            margin-top:20px;
            padding: 20px 20px ;

        }
        border:none;

    }
    table{
        background: $back;
        margin:20px auto;
        border:none;
        td ,th{
            font-size:0.85em;
            padding: 20px 25px;
            border:none;
        }
        td{
            border: 1px solid black;
        }
        span{
            color:$pri;
        }
    }
    
}
*{
    outline:none;
}